$color1:#007F48;
$color2:#4CFFB1;
$color3:#00FF90;
$color4:#767F7C;
$color5:#00CC73;
*{
    box-sizing: border-box;
    font-family: 'El Messiri', sans-serif;
}
body{
    margin: 0;
    background-image: url('https://images6.alphacoders.com/372/372496.jpg');
    background-size: cover;
    background-position: center;
    &::before{
        content: '';
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
        z-index: -1;
    } 
}
input,select,textarea{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid $color1;
    outline: none;
    &:focus{
        border-bottom: 2px solid $color1;
    }
}
button{
    background-color: $color1;
    border-radius: 50px;
    padding: 4px 10px;
    border-color: transparent;
    color: white;
    cursor: pointer;
    &:disabled{
        background-color: $color4;
        cursor: not-allowed;
    }
}
header{
    .image{
        text-align: center;
        padding: 10px;
        img{
            max-width: 150px;
            height: 150px;
        }
        span{color: white;}
    }
    button{
        height: 30px;
        width: 30px;
        background-color: transparent;
        border:0;
        padding: 0;
        margin: 10px;
        right: 0;
        z-index: 3;
        position: fixed;
        outline: none;
        &::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            top:0;
            left: 0;
            border-top:7px solid $color1;
            border-bottom:7px solid $color1;
        }
        &::after{
            content: '';
            position: absolute;
            width: 30px;
            height: 4px;
            bottom:0;
            left: 0;
            border-top:7px solid $color1;
            border-bottom:7px solid $color1;
        }
        @media screen and (max-width:425px){
            &::before,&::after{
                background-color: white;
            }
        }
    }
}
nav{
    position: fixed;
    background-color: $color1;
    max-width: 280px;
    min-width: 280px;
    height: 100vh;
    top:0;
    z-index: 1;
    @media screen and (max-width:425px){
        min-width: 100%;
    }
    &.active{
        animation: widthAnmiateOn;
        animation-duration: 2s;
        left: 0;
        @media screen and (max-width:425px){
            animation: widthAnmiateOnMovile;
            animation-duration:2s;
        }
    }
    &.inactive{
        animation: widthAnmiateOff;
        animation-duration:2s;
        left: -280px;
        @media screen and (max-width:425px){
            left:-100%;
            animation: widthAnmiateOffMovile;
            animation-duration:2s;
        }
    }
    a{
        color: white;
        text-decoration: none;
    }
    li{list-style: none;padding:5px;
        position: relative;
        height: 40px;
        outline: none;
        &:hover{
            background-color: white;
            cursor: pointer;
            a{
                color: $color1;
                font-weight: bold;
            }
            &:before{
                border-right: 2px solid $color1;
                border-top: 2px solid $color1;
            }
        }
        &:before{
            content: '';
            height: 10px;
            width: 10px;
            position: absolute;
            right: 10px;
            top:30%;
            border-right: 2px solid white;
            border-top: 2px solid white;
            transform: rotate(45deg);
        }
    }
    ul{padding: 0;}
}
main,footer{
    padding: 10px;
    position: relative;
    @media screen and (max-width:996px) {
        margin-left: 0;
    }
    &.showMenu{
        margin-left: 0;
        animation: marginLeftOn;
        animation-duration: 2s;
        @media screen and (max-width:996px) {
            margin-left: 0;
            animation: none;
        }
    }
    &.hideMenu{
        margin-left: 280px;
        animation: marginLeftOff;
        animation-duration: 2s;
        @media screen and (max-width:996px) {
            margin-left: 0;
            animation: none;
        }
    }
}
main{
    min-height: 80vh;
}
.content-general{
    max-height: 100vh;
    overflow-y: auto;
}
footer{
    background-color: $color4;
    p,a{
        color: white;
        text-align: center;
    }
}
/*Read Tables*/
.content-read{
    position: relative;
    h2{
        color: $color1;
        padding-left: 10px;
        margin-left: 50px;
    }
    >span{
        position: absolute;
        left: 10px;
        color: $color1;
        top: -10px;
        font-size: 50px;
        cursor: pointer;
    }
    .list-tables{
        padding: 0;
        display: flex;
        flex-flow: wrap;
        li{
            width:30%;
            padding: 10px;
            margin: 10px;
            list-style: none;
            border:1px solid transparent;
            box-shadow: 1px 1px 5px $color1;
            border-radius: 5px;
            &:hover{
                background-color: $color1;
                color: white;
                span.material-icons{
                        background-color: $color1;
                        color: white;
                }
            }
            @media screen and (max-width:700px) {
                width: 100%;
            }
            div{
                position: relative;
                span{
                    position: absolute;
                    right: 0;
                    top:0;
                    &.material-icons{
                        color:$color1;
                        border-radius: 5px;
                        &:hover{
                            background-color: $color1;
                            color: white;
                        }
                    }
                    &.create{
                        top: unset;
                        bottom: 0;
                        cursor: pointer;
                    }
                    &.delete{
                        top: unset;
                        bottom: 0;
                        right: 25px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
/*Create Tables*/
.content-create{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: $color1;
    }
    form{
        text-align: center;
        >div{
            position: relative;
            width: 300px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;
            label{
                font-weight: 800;
                color: $color1;
            }
            span{
                position: absolute;
                bottom: 0;
                right: 5px;
                color: red;
                font-size: 12px;
            }
        }
    }
}
/*Login*/
.content-login{
    text-align: center;
    min-height:80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
        position: relative;
        height: 150px;
        width: 150px;
        margin: auto;
        img{
            height: 150px;
            max-width: 150px;
        }
        input{
            position: absolute;
            top:0;
            width: 100%;
            bottom: 0;
            opacity: 0;
            left: 0;
        }
    }
    button{
        margin-top: 10px;
    }
}
/*Page Not found*/
.content-page-not-found{
    text-align: center;
    padding: 10px;
    img{
        @media screen and (max-width:596px) {
            width: 100%;
        }
    }
}
/*Animaciones*/
@keyframes widthAnmiateOn{
    0%{ left: -280px;}
    100%{ left: 0; }
}
@keyframes widthAnmiateOff{
    0%{ left: 0;}
    100%{ left: -280px; }
}
@keyframes widthAnmiateOnMovile{
    0%{ left: -100%;}
    100%{ left: 0; }
}
@keyframes widthAnmiateOffMovile{
    0%{ left: 0;}
    100%{ left: -100%; }
}
@keyframes marginLeftOn{
    0%{ margin-left: 280px;}
    100%{ margin-left: 0; }
}
@keyframes marginLeftOff{
    0%{ margin-left: 0;}
    100%{ margin-left: 280px; }
}