<header>
  <button (click)="showMenu=!showMenu"></button>
  <nav [ngClass]="showMenu?'active':'inactive'">
    <div class="image">
      <div>
        <img id="imagen_usuario" src="" alt="">
      </div>
      <span>{{nombre_usuario}}</span>
    </div>
    <ul>
      <li routerLink="/table" (click)="showMenu=!showMenu"><a>Mesas</a></li>
      <li routerLink="/chair" (click)="showMenu=!showMenu"><a>Sillas</a></li>
      <li routerLink="/login"><a>Salir</a></li>
    </ul>
  </nav>
</header>
<div class="content-general">
    <main [ngClass]="showMenu?'hideMenu':'showMenu'">
        <router-outlet></router-outlet>
      </main>
      <footer [ngClass]="showMenu?'hideMenu':'showMenu'">
        <p>Proyecto Angular - Brayan Corredor</p>
        <p><a href="">Inicio</a></p>
      </footer>
</div>

